<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<form class="w3-container" action="/test/response">
  <h2>Input Form</h2> 
  <p>The w3-input class is used to style inputs.</p>

  <input class="w3-input" type="text" placeholder="Name" name='name'><br>
  <input class="w3-input" type="text" placeholder="Email" name='email'><br>
  <textarea class="w3-input" placeholder="Subject" name='subject'></textarea><br>
  <button class="w3-button w3-black">Register</button>
</form>

</body>
</html>
